{% extends "layout.html" %}

{% block body %}
<div class="main">
    <div class="main-header">
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home fa-fw"></i>首页</a></li>
        <li><a href="#">项目管理</a></li>
        <li class="active">宏远建筑项目</li>
      </ol>

      <div class="tools">
        <ul>
          <li>
            <a href="newproject.html" class="text-success">进度:23%</a>
          </li>
          <li>
            <a href="index.html">
              <i class="fa fa-cog fa-fw"></i>设置
            </a>
          </li>
        </ul>
      </div>
    </div>
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#" >
          任务
        </a>

      </li>
      <li>
        <a href="#" >
          讨论
        </a>

      </li>
      <li>
        <a href="#" >
          文档
        </a>

      </li>
      <li>
        <a href="#" >
          事件
        </a>

      </li>
      <li>
        <a href="#" >
          成员
        </a>

      </li><li>
      <a href="#" >
        统计分析
      </a>

    </li>
    </ul>

    <div class="tasks">
      <div class="tasks-header">
        <!--<i class="fa fa-plus-square-o fa-fw"></i>-->

        <h4> <a href="#"><i class="fa fa-minus-square-o fa-fw"></i></a>任务</h4>


      </div>
      <div class="tasks-body">
        <div class="task-type">
          <div class="task-type-header">
            <h4> <a href="#"><i class="fa fa-minus-square-o fa-fw"></i></a>未开始任务（27个）</h4>

          </div>
          <div>
            <ul class="tasks-draft">
              <li>
                <i class="fa fa-square-o fa-fw state"></i>
                <span class="priority">!!</span>
                <a href="pro.html">因此需要将此1包含在你所使用</a>
                <i class="fa fa-tint info"></i>
                <i class="fa fa-tint info"></i>
                <i class="fa fa-tint default"></i>
                <i class="fa fa-tint default"></i>
                <i class="fa fa-tint default"></i>
                &nbsp; &nbsp;
                <span class="label label-primary">张三</span>
                <span class="label label-success">2015-12-10</span>
              </li>
              <li>
                <i class="fa fa-square-o fa-fw state"></i>
                <span class="priority">!!</span>
                <a href="pro.html">2件包含在你所使用</a>
                <i class="fa fa-tint info"></i>
                <i class="fa fa-tint info"></i>
                <i class="fa fa-tint default"></i>
                <i class="fa fa-tint default"></i>
                <i class="fa fa-tint default"></i>
                &nbsp; &nbsp;
                <span class="label label-primary">张三</span>
                <span class="label label-success">2015-12-10</span>
              </li> <li>
              <i class="fa fa-square-o fa-fw state"></i>
              <span class="priority">!!</span>
              <a href="pro.html">因此需要将此插件包含在你所使用包含在你所使用包含在你所使用</a>
              <i class="fa fa-tint info"></i>
              <i class="fa fa-tint info"></i>
              <i class="fa fa-tint default"></i>
              <i class="fa fa-tint default"></i>
              <i class="fa fa-tint default"></i>
              &nbsp; &nbsp;
              <span class="label label-primary">张三</span>
              <span class="label label-success">2015-12-10</span>
            </li> <li>
              <i class="fa fa-square-o fa-fw state"></i>
              <span class="priority">!!</span>
              <a href="pro.html">因此需要将此插件包含在你所使用因此需要将此插件包含在你所使用因此需要将此插件包含在你所使用</a>
              <i class="fa fa-tint info"></i>
              <i class="fa fa-tint default"></i>
              <i class="fa fa-tint default"></i>
              <i class="fa fa-tint default"></i>
              <i class="fa fa-tint default"></i>
              &nbsp; &nbsp;
              <span class="label label-primary">张三</span>
              <span class="label label-success">2015-12-10</span>
            </li> <li>
              <i class="fa fa-square-o fa-fw state"></i>
              <span class="priority">!!</span>
              <a href="pro.html">因此需要将此插件包含在你所使用</a>
              <i class="fa fa-tint info"></i>
              <i class="fa fa-tint info"></i>
              <i class="fa fa-tint default"></i>
              <i class="fa fa-tint default"></i>
              <i class="fa fa-tint default"></i>
              &nbsp; &nbsp;
              <span class="label label-primary">张三</span>
              <span class="label label-success">2015-12-10</span>
            </li> <li>
              <i class="fa fa-square-o fa-fw state"></i>
              <span class="priority">!!</span>
              <a href="pro.html">因此因此需要将此插件包含在你所使用需要将此插件包含在你所使用</a>
              <i class="fa fa-tint info"></i>
              <i class="fa fa-tint info"></i>
              <i class="fa fa-tint default"></i>
              <i class="fa fa-tint default"></i>
              <i class="fa fa-tint default"></i>
              &nbsp; &nbsp;
              <span class="label label-primary">张三</span>
              <span class="label label-success">2015-12-10</span>
            </li>
            </ul>
            <div class="task-add"><a class="#">添加新任务</a></div>
          </div>
        </div>
        <div class="task-type">
          <div class="task-type-header">
            <h4> <a href="#"><i class="fa fa-minus-square-o fa-fw"></i></a>未开始任务（27个）</h4>

          </div>
          <div>
            <ul class="tasks-run">
              <li>
                <i class="fa fa-square-o fa-fw state"></i>
                <span class="priority">!!</span>
                <a href="pro.html">因此需要将此1包含在你所使用</a>
                <i class="fa fa-tint info"></i>
                <i class="fa fa-tint info"></i>
                <i class="fa fa-tint default"></i>
                <i class="fa fa-tint default"></i>
                <i class="fa fa-tint default"></i>
                &nbsp; &nbsp;
                <span class="label label-primary">张三</span>
                <span class="label label-success">2015-12-10</span>
              </li>
              <li>
                <i class="fa fa-square-o fa-fw state"></i>
                <span class="priority">!!</span>
                <a href="pro.html">2件包含在你所使用</a>
                <i class="fa fa-tint info"></i>
                <i class="fa fa-tint info"></i>
                <i class="fa fa-tint default"></i>
                <i class="fa fa-tint default"></i>
                <i class="fa fa-tint default"></i>
                &nbsp; &nbsp;
                <span class="label label-primary">张三</span>
                <span class="label label-success">2015-12-10</span>
              </li> <li>
              <i class="fa fa-square-o fa-fw state"></i>
              <span class="priority">!!</span>
              <a href="pro.html">因此需要将此插件包含在你所使用包含在你所使用包含在你所使用</a>
              <i class="fa fa-tint info"></i>
              <i class="fa fa-tint info"></i>
              <i class="fa fa-tint default"></i>
              <i class="fa fa-tint default"></i>
              <i class="fa fa-tint default"></i>
              &nbsp; &nbsp;
              <span class="label label-primary">张三</span>
              <span class="label label-success">2015-12-10</span>
            </li> <li>
              <i class="fa fa-square-o fa-fw state"></i>
              <span class="priority">!!</span>
              <a href="pro.html">因此需要将此插件包含在含在你所使用</a>
              <i class="fa fa-tint info"></i>
              <i class="fa fa-tint default"></i>
              <i class="fa fa-tint default"></i>
              <i class="fa fa-tint default"></i>
              <i class="fa fa-tint default"></i>
              &nbsp; &nbsp;
              <span class="label label-primary">张三</span>
              <span class="label label-success">2015-12-10</span>
            </li> <li>
              <i class="fa fa-square-o fa-fw state"></i>
              <span class="priority">!!</span>
              <a href="pro.html">因此需要将此插件包含在你所使用</a>
              <i class="fa fa-tint info"></i>
              <i class="fa fa-tint info"></i>
              <i class="fa fa-tint default"></i>
              <i class="fa fa-tint default"></i>
              <i class="fa fa-tint default"></i>
              &nbsp; &nbsp;
              <span class="label label-primary">张三</span>
              <span class="label label-success">2015-12-10</span>
            </li> <li>
              <i class="fa fa-square-o fa-fw state"></i>
              <span class="priority">!!</span>
              <a href="pro.html">因此因此需要将此插件包含在你所使用需要将此插件包含在你所使用</a>
              <i class="fa fa-tint info"></i>
              <i class="fa fa-tint info"></i>
              <i class="fa fa-tint default"></i>
              <i class="fa fa-tint default"></i>
              <i class="fa fa-tint default"></i>
              &nbsp; &nbsp;
              <span class="label label-primary">张三</span>
              <span class="label label-success">2015-12-10</span>
            </li>
            </ul>
          </div>
        </div>
        <div class="task-type">
          <div class="task-type-header">
            <h4> <a href="#"><i class="fa fa-minus-square-o fa-fw"></i></a>未开始任务（27个）</h4>

          </div>
          <div>
            <ul class="tasks-over">
              <li>
                <i class="fa fa-square-o fa-fw state"></i>
                <span class="priority">!!</span>
                <a href="pro.html">因此需要将此1包含在你所使用</a>
                <i class="fa fa-tint info"></i>
                <i class="fa fa-tint info"></i>
                <i class="fa fa-tint default"></i>
                <i class="fa fa-tint default"></i>
                <i class="fa fa-tint default"></i>
                &nbsp; &nbsp;
                <span class="label label-primary">张三</span>
                <span class="label label-success">2015-12-10</span>
              </li>
              <li>
                <i class="fa fa-square-o fa-fw state"></i>
                <span class="priority">!!</span>
                <a href="pro.html">2件包含在你所使用</a>
                <i class="fa fa-tint info"></i>
                <i class="fa fa-tint info"></i>
                <i class="fa fa-tint default"></i>
                <i class="fa fa-tint default"></i>
                <i class="fa fa-tint default"></i>
                &nbsp; &nbsp;
                <span class="label label-primary">张三</span>
                <span class="label label-success">2015-12-10</span>
              </li> <li>
              <i class="fa fa-square-o fa-fw state"></i>
              <span class="priority">!!</span>
              <a href="pro.html">因此需要将此插件包含在你所使用包含在你所使用包含在你所使用</a>
              <i class="fa fa-tint info"></i>
              <i class="fa fa-tint info"></i>
              <i class="fa fa-tint default"></i>
              <i class="fa fa-tint default"></i>
              <i class="fa fa-tint default"></i>
              &nbsp; &nbsp;
              <span class="label label-primary">张三</span>
              <span class="label label-success">2015-12-10</span>
            </li> <li>
              <i class="fa fa-square-o fa-fw state"></i>
              <span class="priority">!!</span>
              <a href="pro.html">因此需要将此插件包含在你所使用因此需在你所使用</a>
              <i class="fa fa-tint info"></i>
              <i class="fa fa-tint default"></i>
              <i class="fa fa-tint default"></i>
              <i class="fa fa-tint default"></i>
              <i class="fa fa-tint default"></i>
              &nbsp; &nbsp;
              <span class="label label-primary">张三</span>
              <span class="label label-success">2015-12-10</span>
            </li> <li>
              <i class="fa fa-square-o fa-fw state"></i>
              <span class="priority">!!</span>
              <a href="pro.html">因此需要将此插件包含在你所使用</a>
              <i class="fa fa-tint info"></i>
              <i class="fa fa-tint info"></i>
              <i class="fa fa-tint default"></i>
              <i class="fa fa-tint default"></i>
              <i class="fa fa-tint default"></i>
              &nbsp; &nbsp;
              <span class="label label-primary">张三</span>
              <span class="label label-success">2015-12-10</span>
            </li> <li>
              <i class="fa fa-square-o fa-fw state"></i>
              <span class="priority">!!</span>
              <a href="pro.html">因此因此需要将此插件包含在你所使用需要将此插件包含在你所使用</a>
              <i class="fa fa-tint info"></i>
              <i class="fa fa-tint info"></i>
              <i class="fa fa-tint default"></i>
              <i class="fa fa-tint default"></i>
              <i class="fa fa-tint default"></i>
              &nbsp; &nbsp;
              <span class="label label-primary">张三</span>
              <span class="label label-success">2015-12-10</span>
            </li>
            </ul>

            <div class="task-add"><a class="#"> 已归档任务清单</a>
              &nbsp;&nbsp;&nbsp;<a class="#"> 任务日志清单</a></div>
          </div>
        </div>


      </div>
    </div>

  </div>
{% endblock %}

{% block header %}{% endblock %}
{% block script %}{% endblock %}