{% extends "layout.html" %}

{% block body %}
<div class="main">
    <div class="main-header">
        <ol class="breadcrumb">
            <li><a href="index.html"><i class="fa fa-home fa-fw"></i>首页</a></li>
            <li class="active">动态事件</li>
        </ol>
    </div>
    <div class="main-body">


        <div class="messages">

            <h4>今天
                <small>星期二</small>
            </h4>

            <ul>
                <li>
                    <div class="message_date">
                        <p>13:10</p>
                    </div>
                    <img src="imgs/2.jpg" class="avatar" alt="Avatar">

                    <div class="message_wrapper">
                        <h4 class="heading"> 李四：回复了讨论 免费版和功能逆天的企业版 </h4>
                        <blockquote class="message">牛奶，顾客才敢放心购买。Tower 团队的成员分散于全球各地，我们正是通过 Tower 软件，实现了远程协同办公。
                        </blockquote>
                    </div>
                </li>
                <li>
                    <div class="message_date">
                        <p>13:10</p>
                    </div>
                    <img src="imgs/3.jpg" class="avatar" alt="Avatar">


                    <div class="message_wrapper">
                        <h4 class="heading"> 李四：回复了讨论 免费版和功能逆天的企业版 </h4>
                        <blockquote class="message">牛奶，顾客才敢放心购买。Tower 团队的成员分散于全球各地，我们正是通过 Tower 软件，实现了远程协同办公。
                        </blockquote>
                    </div>
                </li>
                <li>
                    <div class="message_date">
                        <p>13:10</p>
                    </div>
                    <img src="imgs/4.jpg" class="avatar" alt="Avatar">


                    <div class="message_wrapper">
                        <h4 class="heading"> 李四：回复了讨论 免费版和功能逆天的企业版 </h4>
                        <blockquote class="message">牛奶，顾客才敢放心购买。Tower 团队的成员分散于全球各地，我们正是通过 Tower 软件，实现了远程协同办公。
                        </blockquote>
                    </div>
                </li>
            </ul>
            <h4>10/12
                <small>星期一</small>
            </h4>

            <ul>
                <li>
                    <div class="message_date">
                        <p>13:10</p>
                    </div>
                    <img src="imgs/2.jpg" class="avatar" alt="Avatar">

                    <div class="message_wrapper">
                        <h4 class="heading"> 李四：回复了讨论 免费版和功能逆天的企业版 </h4>
                        <blockquote class="message">牛奶，顾客才敢放心购买。Tower 团队的成员分散于全球各地，我们正是通过 Tower 软件，实现了远程协同办公。
                        </blockquote>
                    </div>
                </li>
                <li>
                    <div class="message_date">
                        <p>13:10</p>
                    </div>
                    <img src="imgs/3.jpg" class="avatar" alt="Avatar">


                    <div class="message_wrapper">
                        <h4 class="heading"> 李四：回复了讨论 免费版和功能逆天的企业版 </h4>
                        <blockquote class="message">牛奶，顾客才敢放心购买。Tower 团队的成员分散于全球各地，我们正是通过 Tower 软件，实现了远程协同办公。
                        </blockquote>
                    </div>
                </li>
                <li>
                    <div class="message_date">
                        <p>13:10</p>
                    </div>
                    <img src="imgs/4.jpg" class="avatar" alt="Avatar">


                    <div class="message_wrapper">
                        <h4 class="heading"> 李四：回复了讨论 免费版和功能逆天的企业版 </h4>
                        <blockquote class="message">牛奶，顾客才敢放心购买。Tower 团队的成员分散于全球各地，我们正是通过 Tower 软件，实现了远程协同办公。
                        </blockquote>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</div>
{% endblock %}