{% extends "layout.html" %}

{% block body %}
<div class="main">
    <div class="main-header">
        <h4>新建项目</h4>
    </div>
    <div class="main-body">
        <form action="/team/1/project/new" method="POST">


            <div class="form-group row">
                <div class="col-sm-7">
                    <input type="text" class="form-control col-sm-4" placeholder="项目名称" name="name">
                </div>
            </div>
            <div class="controls">
                <button type="submit" class="btn btn-success"><i class="fa fa-floppy-o fa-fw"></i>确定</a></button>
                <a href="index.html" class="btn">取消</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block header %}{% endblock %}
{% block script %}{% endblock %}