{% extends "layout.html" %}

{% block body %}
<div class="main">
<div class="main-header">
  <ol class="breadcrumb">
    <li><a href="index.html"><i class="fa fa-home fa-fw"></i>首页</a></li>
    <li class="active">已归档工作审批</li>
  </ol>
</div>
<div class="main-body">
  <div class="form-group row">
    <div class="col-lg-6">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="项目名称...">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button">查询</button>
      </span>
      </div><!-- /input-group -->
    </div>

  </div>

<table class="table table-hover  work-list">

  <thead>
  <th class="col-xs-4">工作审批</th>
  <th class="col-xs-2">类型</th>
  <th class="col-xs-6">流程</th>
  </thead>
<tbody>
<tr>
  <td><a href="#">亚马逊下一个4000亿美元商机：物流业务</a>

    <div class="info-box">
      <ul>
        <li>请假单</li>
        <li>李奇 2015-12-17 17:10</li>
      </ul>
    </div>
  </td>
  <td> 请假单
  </td>
  <td>
    <span class="text-success"><i class="fa fa-check fa-fw "></i>王冰冰</span>
    <span>-</span>
    <span class="text-success"><i class="fa fa-check fa-fw"></i>李慧</span>
    <span>-</span>
    <span class="text-success"><i class="fa fa-check fa-fw "></i>周星辰</span>
    <span>-</span>
    <span class="text-success"><i class="fa fa-check fa-fw "></i>张辉</span>

  </td>
</tr>
<tr>
  <td><a href="#">亚马逊下一个4000亿美元商机：物流业务</a>

    <div class="info-box">
      <ul>
        <li>请假单</li>
        <li>李奇 2015-12-17 17:10</li>
      </ul>
    </div>
  </td>
  <td> 请假单
  </td>
  <td>
    <span class="text-success"><i class="fa fa-check fa-fw "></i>王冰冰</span>
    <span>-</span>
    <span class="text-success"><i class="fa fa-check fa-fw"></i>李慧</span>
    <span>-</span>
    <span class="text-success"><i class="fa fa-check fa-fw "></i>周星辰</span>
    <span>-</span>
    <span class="text-success"><i class="fa fa-check fa-fw "></i>张辉</span>

  </td>
</tr><tr>
  <td><a href="#">亚马逊下一个4000亿美元商机：物流业务</a>

    <div class="info-box">
      <ul>
        <li>请假单</li>
        <li>李奇 2015-12-17 17:10</li>
      </ul>
    </div>
  </td>
  <td> 请假单
  </td>
  <td>
    <span class="text-success"><i class="fa fa-check fa-fw "></i>王冰冰</span>
    <span>-</span>
    <span class="text-success"><i class="fa fa-check fa-fw"></i>李慧</span>
    <span>-</span>
    <span class="text-success"><i class="fa fa-check fa-fw "></i>周星辰</span>
    <span>-</span>
    <span class="text-success"><i class="fa fa-check fa-fw "></i>张辉</span>

  </td>
</tr><tr>
  <td><a href="#">亚马逊下一个4000亿美元商机：物流业务</a>

    <div class="info-box">
      <ul>
        <li>请假单</li>
        <li>李奇 2015-12-17 17:10</li>
      </ul>
    </div>
  </td>
  <td> 请假单
  </td>
  <td>
    <span class="text-success"><i class="fa fa-check fa-fw "></i>王冰冰</span>
    <span>-</span>
    <span class="text-success"><i class="fa fa-check fa-fw"></i>李慧</span>
    <span>-</span>
    <span class="text-success"><i class="fa fa-check fa-fw "></i>周星辰</span>
    <span>-</span>
    <span class="text-success"><i class="fa fa-check fa-fw "></i>张辉</span>

  </td>
</tr><tr>
  <td><a href="#">亚马逊下一个4000亿美元商机：物流业务</a>

    <div class="info-box">
      <ul>
        <li>请假单</li>
        <li>李奇 2015-12-17 17:10</li>
      </ul>
    </div>
  </td>
  <td> 请假单
  </td>
  <td>
    <span class="text-success"><i class="fa fa-check fa-fw "></i>王冰冰</span>
    <span>-</span>
    <span class="text-success"><i class="fa fa-check fa-fw"></i>李慧</span>
    <span>-</span>
    <span class="text-success"><i class="fa fa-check fa-fw "></i>周星辰</span>
    <span>-</span>
    <span class="text-success"><i class="fa fa-check fa-fw "></i>张辉</span>

  </td>
</tr><tr>
  <td><a href="#">亚马逊下一个4000亿美元商机：物流业务</a>

    <div class="info-box">
      <ul>
        <li>请假单</li>
        <li>李奇 2015-12-17 17:10</li>
      </ul>
    </div>
  </td>
  <td> 请假单
  </td>
  <td>
    <span class="text-success"><i class="fa fa-check fa-fw "></i>王冰冰</span>
    <span>-</span>
    <span class="text-success"><i class="fa fa-check fa-fw"></i>李慧</span>
    <span>-</span>
    <span class="text-success"><i class="fa fa-check fa-fw "></i>周星辰</span>
    <span>-</span>
    <span class="text-success"><i class="fa fa-check fa-fw "></i>张辉</span>

  </td>
</tr><tr>
  <td><a href="#">亚马逊下一个4000亿美元商机：物流业务</a>

    <div class="info-box">
      <ul>
        <li>请假单</li>
        <li>李奇 2015-12-17 17:10</li>
      </ul>
    </div>
  </td>
  <td> 请假单
  </td>
  <td>
    <span class="text-success"><i class="fa fa-check fa-fw "></i>王冰冰</span>
    <span>-</span>
    <span class="text-success"><i class="fa fa-check fa-fw"></i>李慧</span>
    <span>-</span>
    <span class="text-success"><i class="fa fa-check fa-fw "></i>周星辰</span>
    <span>-</span>
    <span class="text-success"><i class="fa fa-check fa-fw "></i>张辉</span>

  </td>
</tr><tr>
  <td><a href="#">亚马逊下一个4000亿美元商机：物流业务</a>

    <div class="info-box">
      <ul>
        <li>请假单</li>
        <li>李奇 2015-12-17 17:10</li>
      </ul>
    </div>
  </td>
  <td> 请假单
  </td>
  <td>
    <span class="text-success"><i class="fa fa-check fa-fw "></i>王冰冰</span>
    <span>-</span>
    <span class="text-success"><i class="fa fa-check fa-fw"></i>李慧</span>
    <span>-</span>
    <span class="text-success"><i class="fa fa-check fa-fw "></i>周星辰</span>
    <span>-</span>
    <span class="text-success"><i class="fa fa-check fa-fw "></i>张辉</span>

  </td>
</tr><tr>
  <td><a href="#">亚马逊下一个4000亿美元商机：物流业务</a>

    <div class="info-box">
      <ul>
        <li>请假单</li>
        <li>李奇 2015-12-17 17:10</li>
      </ul>
    </div>
  </td>
  <td> 请假单
  </td>
  <td>
    <span class="text-success"><i class="fa fa-check fa-fw "></i>王冰冰</span>
    <span>-</span>
    <span class="text-success"><i class="fa fa-check fa-fw"></i>李慧</span>
    <span>-</span>
    <span class="text-success"><i class="fa fa-check fa-fw "></i>周星辰</span>
    <span>-</span>
    <span class="text-success"><i class="fa fa-check fa-fw "></i>张辉</span>

  </td>
</tr><tr>
  <td><a href="#">亚马逊下一个4000亿美元商机：物流业务</a>

    <div class="info-box">
      <ul>
        <li>请假单</li>
        <li>李奇 2015-12-17 17:10</li>
      </ul>
    </div>
  </td>
  <td> 请假单
  </td>
  <td>
    <span class="text-success"><i class="fa fa-check fa-fw "></i>王冰冰</span>
    <span>-</span>
    <span class="text-success"><i class="fa fa-check fa-fw"></i>李慧</span>
    <span>-</span>
    <span class="text-success"><i class="fa fa-check fa-fw "></i>周星辰</span>
    <span>-</span>
    <span class="text-success"><i class="fa fa-check fa-fw "></i>张辉</span>

  </td>
</tr><tr>
  <td><a href="#">亚马逊下一个4000亿美元商机：物流业务</a>

    <div class="info-box">
      <ul>
        <li>请假单</li>
        <li>李奇 2015-12-17 17:10</li>
      </ul>
    </div>
  </td>
  <td> 请假单
  </td>
  <td>
    <span class="text-success"><i class="fa fa-check fa-fw "></i>王冰冰</span>
    <span>-</span>
    <span class="text-success"><i class="fa fa-check fa-fw"></i>李慧</span>
    <span>-</span>
    <span class="text-success"><i class="fa fa-check fa-fw "></i>周星辰</span>
    <span>-</span>
    <span class="text-success"><i class="fa fa-check fa-fw "></i>张辉</span>

  </td>
</tr><tr>
  <td><a href="#">亚马逊下一个4000亿美元商机：物流业务</a>

    <div class="info-box">
      <ul>
        <li>请假单</li>
        <li>李奇 2015-12-17 17:10</li>
      </ul>
    </div>
  </td>
  <td> 请假单
  </td>
  <td>
    <span class="text-success"><i class="fa fa-check fa-fw "></i>王冰冰</span>
    <span>-</span>
    <span class="text-success"><i class="fa fa-check fa-fw"></i>李慧</span>
    <span>-</span>
    <span class="text-success"><i class="fa fa-check fa-fw "></i>周星辰</span>
    <span>-</span>
    <span class="text-success"><i class="fa fa-check fa-fw "></i>张辉</span>

  </td>
</tr>
</tbody>
</table>

</div>
</div>
{% endblock %}

{% block header %}{% endblock %}
{% block script %}{% endblock %}