
.navbar-brand {
    padding-right: 35px;
    padding-left: 50px;
}
.navbar-brand, .navbar-nav > li > a, .navbar-brand:hover {
    color: #563d7c;
    font-weight: 500;
}

.navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > li > a:hover {
    color: #463265;
    background-color: #f9f9f9;
}
.navbar-nav > li > a.msg
{
    color: #CC0606;
}