

/*mod end*/
/*tools begin*/
.tools ul {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}

.tools ul > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    border-right: 1px solid #DDD;
    line-height: 16px;
}

.tools ul > li:last-child {
    border-right: 0px;
}