/*pieces begin*/
.users {
    padding: 8px 10px;
}

.users ul {
    padding-left: 0px;
    list-style: none outside none;
}

.users ul > li {
    display: inline-block;
    width: 24%;
    padding: 10px;
    line-height: 1.4;
    background-color: #F9F9F9;
    border: 1px solid #FFF;
    margin-bottom: 3px;
}

.users ul li > div > img {
    border-radius: 50%;
    width: 40px;
    float: left;
}

.users ul li .name {
    display: block;
    width: 100px;
    padding: 5px 0px 0px 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.users ul li .mail {
    isplay: block;
    width: 100px;
    padding: 0px 0px 0px 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}