{% extends "layout.html" %}

{% block body %}
    <div class="mod">
        <div class="mod-header">
            <h4>项目</h4>

            <div class="tools">
                <ul>
                    <li><a href="/project/new">新建项目</a></li>
                    <li><a href="/project/archived"><i class="fa fa-book fa-fw"></i>管理归档项目</a></li>
                </ul>
            </div>
        </div>
        <div class="main-body">
            <div class="pieces">
                <ul>
                    <li>
                        <a class="" href="/project/view">
                            <i class="fa fa-apple"></i>
                            天气APP项目
                        </a>
                        <em><small class="text-muted"> 4人 </small></em>
                    </li>
                    <li>
                        <a class="" href="/project/view">
                            <i class="fa fa-soundcloud"></i>
                            宏远建筑项目 <em><small class="text-muted"> 4人 </small></em>
                        </a>
                    </li>
                    <li class="active">
                        <a class="" href="/project/view">
                            <i class="fa fa-share-alt "></i>
                            天气APP项目
                        </a>
                        <em><small class="text-muted"> 4人 </small></em>
                    </li>
                    <li>
                        <a class="" href="/project/view">
                            <i class="fa fa-flag"></i>
                            宏远建筑项目
                        </a>
                        <em><small class="text-muted"> 10人 </small></em>
                    </li>
                    <li>
                        <a class="" href="/project/view">
                            <i class="fa fa-mixcloud"></i>
                            宏远建筑项目
                        </a>
                    </li>
                    <li>
                        <a class="" href="/project/view">
                            <i class="fa fa-simplybuilt "></i>
                            天气APP项目
                        </a>
                        <em><small class="text-muted"> 2人 </small></em>
                    </li>
                    <li>
                        <a class="" href="/project/view">
                            <i class="fa fa-flag"></i>
                            宏远建筑项目
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mod">
        <div class="mod-header">
            <h4>工作审批</h4>

            <div class="tools">
                <ul>
                    <li>
                        <a href="/works/new">
                            <i class="fa fa-caret-square-o-right fa-fw"></i>发起工作审批</a>
                    </li>
                    <li><a href="/works/archived"><i class="fa fa-book fa-fw"></i>归档的工作审批</a></li>
                </ul>
            </div>
        </div>
        <div class="mod-body">
            <div class="filter">
                <ul>
                    <li class="active"><a href="#">待我审批的</a></li>
                    <li><a href="#">我发起的</a></li>
                </ul>
            </div>
            <table class="table table-hover  work-list">
                <colgroup>
                    <col class="col-xs-5">
                    <col class="col-xs-7">
                </colgroup>
                <tbody>
                <tr>
                    <td><a href="/works/view">亚马逊下一个4000亿美元商机：物流业务</a>

                        <div class="info-box">
                            <ul>
                                <li>请假单</li>
                                <li>李奇 2015-12-17 17:10</li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <span class="text-success"><i class="fa fa-check fa-fw "></i>王冰冰</span>
                        <span>-</span>
                        <span class="text-success"><i class="fa fa-check fa-fw"></i>李慧</span>
                        <span>-</span>
                        <span class="text-primary"><i class="fa fa-pause fa-fw"></i>周星辰</span>
                        <span>-</span>
                        <span class="text-muted">张辉</span>

                    </td>
                </tr>
                <tr>
                    <td><a href="/works/view">亚马逊下一个4000亿美元商机：物流业务</a>

                        <div class="info-box">
                            <ul>
                                <li>请假单</li>
                                <li>李奇 2015-12-17 17:10</li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <span class="text-success"><i class="fa fa-check fa-fw "></i>王冰冰</span>
                        <span>-</span>
                        <span class="text-success"><i class="fa fa-check fa-fw"></i>李慧</span>
                        <span>-</span>
                        <span class="text-primary"><i class="fa fa-pause fa-fw"></i>周星辰</span>
                        <span>-</span>
                        <span class="text-muted">张辉</span>

                    </td>
                </tr> <tr>
                    <td><a href="/works/view">亚马逊下一个4000亿美元商机：物流业务</a>

                        <div class="info-box">
                            <ul>
                                <li>请假单</li>
                                <li>李奇 2015-12-17 17:10</li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <span class="text-success"><i class="fa fa-check fa-fw "></i>王冰冰</span>
                        <span>-</span>
                        <span class="text-success"><i class="fa fa-check fa-fw"></i>李慧</span>
                        <span>-</span>
                        <span class="text-primary"><i class="fa fa-pause fa-fw"></i>周星辰</span>
                        <span>-</span>
                        <span class="text-muted">张辉</span>

                    </td>
                </tr> <tr>
                    <td><a href="/works/view">亚马逊下一个4000亿美元商机：物流业务</a>

                        <div class="info-box">
                            <ul>
                                <li>请假单</li>
                                <li>李奇 2015-12-17 17:10</li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <span class="text-success"><i class="fa fa-check fa-fw "></i>王冰冰</span>
                        <span>-</span>
                        <span class="text-success"><i class="fa fa-check fa-fw"></i>李慧</span>
                        <span>-</span>
                        <span class="text-primary"><i class="fa fa-pause fa-fw"></i>周星辰</span>
                        <span>-</span>
                        <span class="text-muted">张辉</span>

                    </td>
                </tr> <tr>
                    <td><a href="/works/view">亚马逊下一个4000亿美元商机：物流业务</a>

                        <div class="info-box">
                            <ul>
                                <li>请假单</li>
                                <li>李奇 2015-12-17 17:10</li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <span class="text-success"><i class="fa fa-check fa-fw "></i>王冰冰</span>
                        <span>-</span>
                        <span class="text-success"><i class="fa fa-check fa-fw"></i>李慧</span>
                        <span>-</span>
                        <span class="text-primary"><i class="fa fa-pause fa-fw"></i>周星辰</span>
                        <span>-</span>
                        <span class="text-muted">张辉</span>

                    </td>
                </tr> <tr>
                    <td><a href="/works/view">亚马逊下一个4000亿美元商机：物流业务</a>

                        <div class="info-box">
                            <ul>
                                <li>请假单</li>
                                <li>李奇 2015-12-17 17:10</li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <span class="text-success"><i class="fa fa-check fa-fw "></i>王冰冰</span>
                        <span>-</span>
                        <span class="text-success"><i class="fa fa-check fa-fw"></i>李慧</span>
                        <span>-</span>
                        <span class="text-primary"><i class="fa fa-pause fa-fw"></i>周星辰</span>
                        <span>-</span>
                        <span class="text-muted">张辉</span>

                    </td>
                </tr> <tr>
                    <td><a href="/works/view">亚马逊下一个4000亿美元商机：物流业务</a>

                        <div class="info-box">
                            <ul>
                                <li>请假单</li>
                                <li>李奇 2015-12-17 17:10</li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <span class="text-success"><i class="fa fa-check fa-fw "></i>王冰冰</span>
                        <span>-</span>
                        <span class="text-success"><i class="fa fa-check fa-fw"></i>李慧</span>
                        <span>-</span>
                        <span class="text-primary"><i class="fa fa-pause fa-fw"></i>周星辰</span>
                        <span>-</span>
                        <span class="text-muted">张辉</span>

                    </td>
                </tr>
                </tbody>
            </table>


        </div>
    </div>
{% endblock %}